<h1>Post New Exercise</h1>
<div>
 <%= form_for(@exercise) do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :task  %>:
  <%= f.text_field :task %><br />

  <%= f.submit %>
<% end %>
</div>